#perfil #fake-header {
  height: 280px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#perfil {
  background-color: #f2f2f2;
}

#perfil .profile-pic {
  border-radius: 100%;
  width: 150px;
  margin-top: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#perfil .div-list {
  margin-bottom: 18%;
}

#perfil .nome {
  font-size: 19px;
}

#perfil .email {
  font-size: 17px;
  font-weight: 100;
}

#perfil #title-fake-header {
  font-size: 24px;
  padding-top: 15px;
}

#perfil .fa-arrow-left {
  position: absolute;
  margin-left: 20px;
  margin-top: 16px;
  font-size: 27px;
}

#perfil #title-desc {
  font-size: 20px;
}

#perfil #text-desc {
  font-size: 14px;
  font-weight: 100;
  width: 330px;
}

#perfil #bold {
  font-size: 14px;
  font-weight: 600;
}
