#home-first-section {
  background-color: #f2f2f2;
}

#home-first-section input {
  background-color: #34337c;
  color: white;
  border-radius: 10px;
  height: 43px;
  width: 100%;
  padding-right: 40px;
  padding-left: 15px;
  margin-top: 15px;
  border: transparent;
  transition: all 0.3s;
}

#home-first-section input:focus {
  box-shadow: -2px 5px 9px -8px rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  outline: transparent;
}

#home-first-section #icon-search {
  position: absolute;
  margin-top: 27px;
  margin-left: 133px;
  color: rgb(255, 255, 255, 0.9);
  font-size: 20px;
}

#home-first-section #icon-search:hover {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.6);
  transition: all 0.3s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(255, 255, 255, 0.6);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(255, 255, 255, 0.6);
}
